<style>
    body
    {
        background-color: #fcfcfc;
        padding: 20px;
        font-size: 20px;
    }
    main {
        margin: auto auto;
    }
    .center-div
    {
        /*position: absolute;*/
        margin: auto;
        /*top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        width: 50%;
        height: 20%;
        background-color: #eee;
        border-radius: 3px;
        overflow: auto;
        padding: 20px;
        padding-bottom: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
<main>
    <div class="center-div">
        <h1>Source Themes</h1>
        <a href="./academic">Academic</a>
    </div>
</main>
